@import "./variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #202221;
  }

  h1,
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $theme-color-light;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
  background-color: $theme-color-light;
}

.header-nav {
  min-width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #2e8b57;

  &__ul {
    a {
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1rem;
    }
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    li {
      padding: 0.5rem 2rem 0.5rem 2rem;
      margin: 0 0.7rem 0 0.7rem;
      border: #b8ddc8 solid 2px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px #2022217e;
      }
    }
  }
}

.divider {
  height: 2px;
  background-color: $theme-color;
  width: 200px;
  margin-bottom: 1rem;
}

.todo-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: $paper-color;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: $box-shadow;

  &__heading {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    &__item {
      h4 {
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: rgb(243, 243, 243);
      border-radius: 5px;
      box-shadow: $box-shadow-small;
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0;
    &__buttons {
      display: flex;

      button {
        margin: 0 0 0 1rem;
      }
    }
  }
}

.todo-form {
  &__control {
    background-color: white;

    &__label {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }

  &__textarea {
    border-radius: 5px;
  }
}

.todo-form {
  &__control {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}
