// Colors
$theme-color: #2e8b57;
$theme-color-light: #b8ddc8;
$paper-color: #d1cdb9;

// Shadows
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-small: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; ;
